* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* Header */
header {
    position: fixed;
    right: 0;
    z-index: 3;
    /* background-color: green; */
}

/* menù di navigazione */
.navigation-menu {
    
}

li {
    display: inline-block;
    margin: 30px 20px 10px 0px;
}

a {
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    background: white;
    padding: 10px 15px;
    color: black;
    vertical-align: 50%;
}

/* sezioni */
.bg-section {
    height: 100vh;
    position: relative;
}

#scarpa-1 {
    background-color: red;
}

#scarpa-2 {
    background-color: green;
}

#scarpa-3 {
    background-color: yellow;
}

.container1, .container2, .container3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}